* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eef0f4;
  color: #0f184de0;
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Button */

.btn {
  display: inline-block;
  padding: 14px 30px;
  background: #2721d6e3;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  margin-top: -8px;
}

.navbar btn{
  margin-top: -100px;
}
/*Navbar */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: rgb(124, 120, 120);
  font-weight: 550;
}

/* Hero Section */

.hero {
  margin-top: 100px;
  height: 871px;
  background: url(assets/banner.jpg) center center/cover;
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.72);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  width: 750px;
}

.hero h1 {
  font-size: 72px;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #d8d8d8;
}
.hero h1 span {
  font-style: italic;
}

.hero p {
  font-size: 18px;
  color: #d8d8d8;
  margin-bottom: 350px;
}


/* Speakers */

section {
  padding: 100px 0;
}

section h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 45px;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.speakers-card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.speakers-card img {
  height: 350px;
  object-fit: cover;
}

.speakers h2{
  margin-top: -65px;
  color: black;
}

.track {
  display: inline-block;
  margin: 25px;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: blue;
  margin-left: 9px;
  margin-bottom: 10px;
}

.speakers-card h3 {
  margin: 0 25px;
  font-size: 26px;
}

.speakers-card p {
  margin: 15px 25px 30px;
  color: #bbb;
}


/* Pricing */

.pricing {
  width: 100%;
  padding: 70px 20px;
}

.pricing h1{
  margin-top: -50px;
}
.heading {
  text-align: center;
  margin-bottom: 55px;
}

.heading h1 {
  font-size: 70px;
  font-weight: 600;
  color: black;
  margin-bottom: 14px;
}

.heading p {
  font-size: 20px;
  color: #6b7280;
}

.pricing-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.card.active {
  background: #122031;
  color: #fff;
  border: none;
}

.plan {
  font-size: 14px;
  font-weight: 400;
  color: #8a8f98;
}

.active .plan {
  color: #71a7ff;
}

.price {
  margin-top: 12px;
}

.price h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  margin-bottom: 2px;
}


.price span {
  display: block;
  font-size: 15px;
  color: #6b7280;
  margin-top: -2px;
}

.active .price span {
  color: #d7dde5;
}

hr {
  border: none;
  height: 1px;
  background: #e5e7eb;
  margin: 28px 0;
}

.active hr {
  background: rgba(255, 255, 255, 0.12);
}

.pricing ul {
  list-style: none;
  flex: 1;
}

.pricing ul li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  color: #4b5563;
  line-height: 1.5;
}

.active ul li {
  color: #d7dde5;
}

.pricing ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    color: #2563eb;
    font-size: 18px;
}

button {
  margin-top: 25px;
  width: 100%;
  height: 54px;
  border-radius: 10px;
  border: 2px solid #3366ff;
  background: #fff;
  color: #3366ff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}


.active button {
  background: #3366ff;
  color: #fff;
  border: none;
}

.outline {
  border: 2px solid #152236;
  color: #152236;
}

/* Missing section */

.why-attend {
  background: #ffffff;
  padding: 100px 0;
}

.why-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 70px;
}

.why-header span {
  color: #ff6b00;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 30px;
}

.why-header h2 {
  color: #111;
  font-size: 46px;
  margin: 15px 0 20px;
  line-height: 1.2;
}

.why-header p {
  color: #666;
  font-size: 17px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.why-card {
  background: #fff;
  border-radius: 18px;
  padding: 35px;
  border: 1px solid #ececec;

  transition: 0.35s;
}

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff3ea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.icon i {
  font-size: 30px;
  color: #ff6b00;
}

.why-card h3 {
  color: #111;
  margin-bottom: 15px;
  font-size: 24px;
}

.why-card p {
  color: #666;
  line-height: 1.8;
}

/* Footer */
footer {
  background: #122031;
  padding: 35px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer-logo img {
  height: 20px;
}

.copyright {
  color: #b5b5b5;
  font-size: 15px;
}

.socials {
  display: flex;
  gap: 15px;
}

.socials a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #1d2b3d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.socials a:hover {
  background: #2563eb;
}

.terms {
  display: flex;
  gap: 25px;
}

.terms a {
  color: #b5b5b5;
  text-decoration: none;
  font-size: 15px;
}

.terms a:hover {
  color: #fff;
}
