* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eef0f4;
  color: #0f184de0;
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Button */

.btn {
  display: inline-block;
  padding: 14px 30px;
  background: #2721d6e3;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #ff8b32;
  transform: translateY(-3px);
}

/*NAVBAR */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1200px;

  margin: auto;

  padding: 30px 0;
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: rgb(85, 70, 70);
  font-weight: 500;
}
