* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eef0f4;
  color: #0f184de0;
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Button */

.btn {
  display: inline-block;
  padding: 14px 30px;
  background: #2721d6e3;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
}

/*NAVBAR */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1200px;

  margin: auto;

  padding: 30px 0;
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: rgb(85, 70, 70);
  font-weight: 500;
}

.hero {
  margin-top: 100px;
  height: 871px;
  background: url(assets/banner.jpg) center center/cover;
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.72);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  width: 750px;
}

.hero h1 {
  font-size: 72px;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #d8d8d8;
}

.hero p {
  font-size: 18px;
  color: #d8d8d8;
  margin-bottom: 350px;
}

section {
  padding: 100px 0;
}

section h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 45px;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.speakers-card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.speakers-card img {
  height: 350px;
  object-fit: cover;
}

.track {
  display: inline-block;
  margin: 25px;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: blue;
}

.speakers-card h3 {
  margin: 0 25px;
  font-size: 26px;
}

.speakers-card p {
  margin: 15px 25px 30px;
  color: #bbb;
}


